node_modules
.obsidian
.obsidian/plugins
.obsidian/plugins/obsidian-public
.obsidian/plugins/obsidian-public/node_modules
.obsidian/plugins/obsidian-public/dist
.space
.claude
_templates
_assets
.env
container.md
THEME.md
CLAUDE.md