{
  "printWidth": 300,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 4,
        "useTabs": true,
        "proseWrap": "preserve"
      }
    }
  ]
}
